section{
    display: table-cell;
    width: 60%;
    padding: 1em;
    background-color: white;
}

section:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 41.25em){
    section{
        display: block;
        width: 100%;
    }
}